* {
    margin: 0;
    padding: 0;
    
}
body {
   background: #55ffe5;
   font-size: 14;
   font-family: 'Roboto', sans-serif;
}
.container {
 width: 80%;
 margin: 50px auto;

}
.contact-box {
 background: #fff;
 display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #1c00b5;
  color: #fff;
}
h1{
  margin-bottom: 10px;
}
.container p{
  margin-bottom: 40px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: non;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label{
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
  
}
button {
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px rgba(28,0,181,0.3 );
}
.contact-left h3{
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-left h3{
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}


/*lets go/*



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* start headings*/
h1, h2, h3, h4,
p {
    text-align: center;
}

/*end headings*/
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #ff0000;
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s;
}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button*/
.closebtn:hover {
  color: black;
}

.note {
  color: black;
  background-color: white;
}

.note li a:hover {
  background-color: thistle;
}
/* start advertissement */
.adscard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.adscard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.adscontainer {
  padding: 2px 16px;
}

/* end advertissement */

body {
  /* overflow-x: hidden; */
  padding: 0;
  margin: 0;
}

main,
footer {
  margin: 0 auto;
  padding: 0.75rem;
  max-width: 100%;
  color: #000000;
  background-color: #B6B3B0;
}

/* main::before {
  content: "\a";
  white-space: pre;
} */
main {
  padding: 70px 20px 20px 20px;
}

/*Start Nav-bar */
nav {
  height: 4rem;
  width: 100vw;
  background-color: #12C2F8;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
}


.logo {
  padding: 1vh 1vw;
  text-align: center;
}

.logo img {
  height: 3rem;
  width: 5rem;
}

.nav-links {
  display: flex;justify-content: center;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center; 
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: #000000;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}
