@media (min-width: 32.5em) {
    header img {
        float: right;
        width: 200px;
    }

    h2 {
        margin-left: 0.5rem;
        text-decoration: underline;
    }

    nav ul,
    nav ul.navigation {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav button {
        display: none;
    }
}



/* Container for the button and the image */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Style the button */
  button {
    background-color: #007BFF; /* You can change the background color to your preference */
    color: #fff; /* Text color */
    font-size: 18px; /* Font size */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px; /* Adjust this margin to your preference */
  }
  
  /* Style the image */
  .hero picture {
    width: 100%; /* Make the image responsive */
    max-width: 100%;
    height: auto;
  }
  
  